1) Write a python statement unpack this my_list = [1, 2, 3, 4, 5]
2) England = ["Derby", "Luton", "Hull", "London", "Oxford", "Chester", "Liverpool", "Cardiff",
"Manchester", "Bradford"]
Using slicing, get "Chester" and "Cardiff"
3) # Using slicing with a step of 3 to get "Chester" and "Cardiff"
England = ["Derby", "Luton", "Hull", "London", "Oxford", "Chester", "Liverpool", "Cardiff",
"Manchester", "Bradford"]
4) write a Python function using if, elif and else to know if x = 10
5) Using a for loop to iterate over the list and print each number
[1, 2, 3, 4, 5]
6) Using a for loop to calculate the sum of elements in the list
N:B When you are through, kindly upload to your github account and also add aread me
file to it.

1) Write a python statement unpack this my_list = [1, 2, 3, 4, 5]

In [3]:
my_list = [1,2,3,4,5]
a,b,c,d,e = [1,2,3,4,5]

In [4]:
a

1

In [6]:
b

2

In [7]:
c

3

In [9]:
d

4

In [10]:
e

5

#2) England = ["Derby", "Luton", "Hull", "London", "Oxford", "Chester", "Liverpool", "Cardiff",
"Manchester", "Bradford"]
Using slicing, get "Chester" and "Cardiff"

In [65]:
England = ["Derby", "Luton", "Hull", "London", "Oxford", "Chester", "Liverpool", "Cardiff",
"Manchester", "Bradford"]
Chester_Cardiff = England[5:7]

In [66]:
print (Chester_Cardiff)

['Chester', 'Liverpool']

 #3)  Using slicing with a step of 3 to get "Chester" and "Cardiff"
England = ["Derby", "Luton", "Hull", "London", "Oxford", "Chester", "Liverpool", "Cardiff",
"Manchester", "Bradford"]

In [42]:
England = ["Derby", "Luton", "Hull", "London", "Oxford", "Chester", "Liverpool", "Cardiff",
"Manchester", "Bradford"]

In [60]:
England[5:9:3]

['Chester', 'Manchester']

4) write a Python function using if, elif and else to know if x = 10

In [55]:
x = 10

In [56]:
if x == 10:
    print("Good")
elif x < 10:
    print("Bad")
else:
    print("V.Good")

Good

>>> spam = input()
101
>>> spam
'101'

In [58]:
spam = 101